.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}



@keyframes fadeInLabel {
  from {
    opacity: 0;
    transform: translateY(40px)
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#modeLabels h3 {
  font-weight: bold;
  font-size: 60px;
  animation: fadeInLabel 0.5s ease;
  transition: color 0.3s ease;
}

.playback-controls {
  display: flex;
  flex-direction: row;
  gap: 20px;
}