.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}



@keyframes fadeInLabel {
  from {
    opacity: 0;
    transform: translateY(40px)
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#modeLabels h3 {
  font-weight: bold;
  font-size: 60px;
  animation: fadeInLabel 0.5s ease;
  transition: color 0.3s ease;
}




/*Dark mode theme*/
[data-theme="dark"].container {
  --angle: 45deg;
  --gradient:
    oklab(12% -0.006 -0.012),
    oklab(26% -0.010 -0.024),
    oklab(46% -0.014 -0.028),
    oklab(68% -0.016 -0.022),
    oklab(87% -0.011 -0.016);
  background: linear-gradient(var(--angle), var(--gradient));
  color: #f3f4f6;
}