.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}






#modeLabels h3 {
  font-weight: bold;
  font-size: 60px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.3s ease, transform 0.3s, color 0.3s ease;
}

#modeLabels h3.visible {
  opacity: 1;
  transform: translateY(0);
}


.playback-controls {
  display: flex;
  flex-direction: row;
  gap: 20px;
}